
$dark-gray: #9b9ba5
$bg-content: #edf1f5
html,body
    font-family: 'Rubik', sans-serif
    background: #edf1f5
a
    color: $dark-gray
    
    &:hover
        text-decoration: none
        color: #000

/*Navbar*/
.nav-top-wrapper
    position: fixed
    z-index: 2
    width: 100%
    background-color: #fff
    height: 60px
        
    .left-part
        height: 60px
        text-align: center
        float: left
        padding: 16px
        border-right: 1px solid #ebebeb

        i
            float: left
            font-size: 28px
        
        .logo
            font-weight: 800
            font-size: 21px
            padding: 0 43px 0 44px

            span
                color: $dark-gray
                font-weight: 500

    .navbar-top-links
        li
            float: left
            a
                padding: 21px
                &:hover
                    color: $dark-gray
            .dropdown-menu
                border: 1px solid rgba(120,130,140,.13)
                border-radius: 0
                box-shadow: 0 3px 12px rgba(0,0,0,.05)!important
                -webkit-box-shadow: 0!important
                -moz-box-shadow: 0!important
                padding-bottom: 8px
                margin-top: 0
            
            .mail
                width: 280px
                overflow: auto
                padding-bottom: 0
                li
                    display: block
                    width: 100%
                    .mail-title
                        border-bottom: 1px solid rgba(0,0,0,.1)
                        font-size: 15px
                        font-weight: 600
                        padding: 10px 10px
                        text-align: center
                        width: 100%
                    .message
                        box-sizing: border-box
                        a
                            border-bottom: 1px solid rgba(120,130,140,.13)
                            display: block
                            padding: 9px 15px
                            &:hover
                                background:#f7fafc
                        .user-img
                            width: 40px
                            float: left
                            position: relative
                            margin: 0 10px 15px 0
                            img
                                width: 100%
                            .img-circle
                                border-radius: 50%
                        .mail-content
                            h5
                                font-weight: 500                             
                                margin: 0
                                color: #313131
                            .mail-desc
                                font-size: 12px
                                display: block
                                margin: 5px 0
                                color: #313131
                                font-weight: 300
                            .time
                                display: block
                                font-size: 10px
                                color: #313131
                                font-weight: 100
    .navbar-right
        li
            a
                padding: 0 30px 0 14px
                line-height: 60px
                color: #313131
                &:hover
                    color: #313131
        .user-drop-menu
            width: 280px
            li
                display: block
                float: none
                .icon
                    font-size: 15px
            .drop-user-box
                padding: 15px
                float: left
                .user-img
                    padding: 0
                    width: 80px
                    display: inline-block
                    float: left
                    img
                        width: 100%
                        height: 100%
                        border-radius: 5px
                .user-text
                    float: left
                    display: inline-block
                    padding-left: 10px
                    .u-name-menu
                        line-height: 22px
                        font-size: 18px
        .divider
            width: 100%
            height: 1px
            margin: 9px 0
            background-color: #e5e5e5
.clear
    clear: both
/*Sidebar*/
#sidebar-wrapper
    z-index: 1
    position: fixed
    background: #2f323e
    width: 250px
    height: 100%
    overflow-y: hidden
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08)

    .sidebar-head
        padding: 16px 20px
        color: #fff
        .hide-menu
            font-size: 20px
        .fa
            margin: 0 6px
            font-size: 20px
            font-weight: 100
        a
            color: #fff
            &:hover
                color: #fff
/*Main content*/
.page-content-wrapper
    position: absolute
    top: 62px
    width: 100%
    background-color: $bg-content
    padding-left: 250px
.pl-none
    padding-left: 0
/*Sidebar stylng*/


.sidebar-nav

    padding: 2px 0 0 0
    
    
    list-style: none
    .active
            background: #2cabe3
    li
        text-indent: 0px
        line-height: 40px
        
        a
            display: block
            padding: 15px 35px 15px 20px
            text-decoration: none
            color: #97999f
            &:hover
                background: #262831
            i
                font-size: 21px
                margin-right: 7px
/*Users*/
.label, label
    font-size: 14px
    font-weight: 400
th
    font-weight: 400
.bg-title
    margin-bottom: 25px
    background: #f1f2f7
    border-bottom: 1px solid rgba(120, 130, 140, 0.13)
    overflow: hidden
    padding: 5px 5px
    .page-title
        text-transform: uppercase
        font-size: 14px
        font-weight: 500

.white-box
    background-color: #fff
    margin-bottom: 25px
    padding: 25px 25px
    box-shadow: 0 1px 11px 0 rgba(0,0,0,0.15)
    .box-title
        font-weight: 500
        text-transform: uppercase
        font-size: 16px
        margin-bottom: 10px
        line-height: 35px
        
    label
        font-weight: 400
        span
            color: red
/*Profile*/
.user-box
    height: 100%
    margin-bottom: 20px
    .user-header
        position: relative
        .user-bg
            img
                width: 100%
                height: 200px
        .user-info 
            padding-left: 40px
            margin-top: -85px
            .avatar
                display: inline-block
                background-color: #fff
                padding: 4px
                border-radius: 4px
               
            .u-name
                display: inline-block
                margin-left: 35px
                
                p
                    color: #fff
                    font-size: 18px
                span
                    color: #fff
                    font-size: 14px
                    font-weight: 100
                
.user-table

    th
        font-weight: bold
        color: #353c4e
    td
        color: #777
        font-weight: 500
@media screen and (max-width: 767px)
    .nav-top-wrapper
        .navbar-right
            li
                a
                    padding: 0 14px 0 14px

    .nav
        display: inline-block
    
    .hide-md
        display: none
    #sidebar-wrapper
        z-index: 4

    .logo
        display: none

    .page-content-wrapper
        padding: 0
    .mail
        margin-left: -110px
        
@media screen and (max-width: 400px)
    .user-box
        .user-header
            background-color: #e0e0e0
            height: 100%
            .user-bg
                img
                    width: 100%
                    height: 60px
                
            .user-info 
                padding-left: 0
                padding-top: 20px

                margin-top: 0px
                .avatar
                    display: block
                    width: 108px
                    margin: 0 auto

                .u-name
                    display: block
                    width: 108px
                    margin: 0 auto
                    text-align: center
                    margin-top: 10px
                    margin-bottom: 20px

                    p
                        text-shadow: 1px 1px 4px #373a3c;
                    span
                        text-shadow: 1px 1px 4px #373a3c;
                
        